<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computorcenter.information.manual.mapper.ViewInformationMapper">

    <select id="getInfoTypeCount" resultType="com.computorcenter.information.manual.dto.InfoTypeCount">
        select INFO_TYPE, count(id) as INFO_COUNT
        from VIEW_INFORMATION
        group by INFO_TYPE
    </select>

    <select id="getTopicCategoryCount" resultType="com.computorcenter.information.manual.dto.TopicCategoryCount">
        SELECT
	        TOPIC_CATEGORY,
	        count( id ) AS count
        FROM
	        VIEW_INFORMATION
        GROUP BY
	        TOPIC_CATEGORY
    </select>

    <select id="getProfessionFieldCount" resultType="com.computorcenter.information.manual.dto.ProfessionFieldCount">
        SELECT
	        PROFESSION_FIELD,
	        count( id ) AS count
        FROM
	        VIEW_INFORMATION
        GROUP BY
	        PROFESSION_FIELD
    </select>

    <select id="getYearCount" resultType="com.computorcenter.information.manual.dto.YearCount">
        SELECT
            year,
            count( id ) AS count
        FROM
        VIEW_INFORMATION
        GROUP BY
            year
        ORDER BY year desc
    </select>

    <select id="searchInformation"
            resultType="com.computorcenter.information.manual.entity.ViewInformation">
        SELECT
        *
        FROM
        VIEW_INFORMATION
        WHERE
        <if test="searchOption.infoType!=''">INFO_TYPE IN (${searchOption.infoType}) AND</if>
        <if test="searchOption.topicCategory!=''">TOPIC_CATEGORY IN (${searchOption.topicCategory}) AND</if>
        <if test="searchOption.professionField!=''">PROFESSION_FIELD IN (${searchOption.professionField})AND</if>
        <if test="searchOption.year!=''">year IN (${searchOption.year}) AND</if>
        <if test="searchOption.searchType=='all'">
            ( INFO_TITLE like CONCAT(CONCAT('%',#{searchOption.searchInput}),'%')
            OR INFO_AUTHOR like CONCAT(CONCAT('%',#{searchOption.searchInput}),'%')
            OR KEYWORDS like CONCAT(CONCAT('%',#{searchOption.searchInput}),'%') )
        </if>
        <if test="searchOption.searchType!='all' and searchOption.searchType!=null">
            AND ${searchOption.searchType} like CONCAT(CONCAT('%',#{searchOption.searchInput}),'%')
        </if>
        order by format_time desc, id desc
    </select>
</mapper>
