<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.computorcenter.information.manual.mapper.ViewInformationMapper">

    <!--    <select id="getInfoTypeCount" resultMap="com.computorcenter.information.manual.dto.InfoTypeCount">-->
    <!--        select-->
    <!--        <include refid="Base_Column_List"/>-->
    <!--        from view_information-->
    <!--        where-->
    <!--        file_url = #{fileUrl,jdbcType=VARCHAR}-->
    <!--    </select>-->
</mapper>
